@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

.galleryContainer{
    margin: 15px;

}

.follow{
    margin-top: 5%;
    font-family: 'Gilda Display', serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.galleri{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 1rem;
    img{
        width: 100%;
    }
}

